<%- include('partials/header'); -%>


<h1>home</h1>

<p><%= homeStartingContent %></p>

<% var len= newData.length %>

<% newData.forEach(function(data){ %>
    <h1> <%= data.titleData %> </h1>
    
    <p>  <%=  data.postData%> </p>

<% }); %>


<%- include('partials/footer'); -%>