<%- include('partials/header'); -%>


<h1>home</h1>

<p><%= homeStartingContent %></p>

<% var len= newData.length %>

<% for(let i=0; i<newData.length; i++){ %>
     <h1> <%= newData[i].titleData %> </h1>

     <p>  <%= newData[i].postData %> </p>

<% } %>


<%- include('partials/footer'); -%>