<%- include('partials/header'); -%>


<h1>home</h1>

<p><%= homeStartingContent %></p>

<% var len= newData.length %>

<% for(let i=0; i<len; i++){ %>
    <h1> <%= newData[i].titleData %> </h1>


   <% let part1= newData[i].postData.slice(0,20); %>
   <% let part2= newData[i].postData.slice(20);  %>

  <% let btnid= "myBtn"+  i.toString(); %>
  <%  let dots= "dotsmyBtn" + i.toString(); %>
  <%  let more= "moremyBtn" + i.toString(); %>






    <p>  <%= part1 %> <span id= <%= dots %> >...</span> <span id= <%= more %> class= "hide" ><%=  part2 %> </span></p>

    <button id= <%= btnid %> class="btn btn-primary" onclick="load()">readmore</button>
<% } %>





<%- include('partials/footer'); -%>